<!DOCTYPE html>
<html>
<head>
    <title>HTML Forms Testing</title>
</head>
<body>
    <h1>Forms Testing</h1>
    <form action="" method="get">
        <label for="fn">First Name</label><br>
        <input type="text" name="fn" id="fn"><br><br>
        <label for="sn">Second Name</label><br>
        <input type="text" name="sn" id="sn"><br><br>
        <label for="genh">Gender:</label><br>
        
        <input type="radio" name="gender" id="m" value="Male">
        <label for="m">Male</label><br>
        
        <input type="radio" name="gender" id="f" value="Female">
        <label for="f">Female</label><br><br>
        <input type="submit" value="OK">
    </form>
</body>
</html>
